/* Estilos generales para el contenedor de la navegación */
nav {
    background-color: #333;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para la lista de navegación */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

/* Estilos para los elementos de la lista */
nav ul li {
    margin: 0 15px;
}

/* Estilos especiales para el enlace de Logout */
nav ul li.logout {
    margin-left: auto;
}

/* Estilos para los enlaces de navegación */
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* Estilos para los enlaces al pasar el ratón */
nav ul li a:hover {
    background-color: #575757;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    nav ul {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    nav ul li {
        margin: 10px 5px;
    }
}

/* Estilos para el encabezado */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para el contenedor del formulario */
#dvForm {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

/* Estilos para las etiquetas */
#dvForm label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

/* Estilos para los campos de entrada */
#dvForm input[type="text"],
#dvForm input[type="password"] {
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

/* Estilos para el botón de envío */
#dvForm input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilos para los campos de entrada al enfocarse */
#dvForm input[type="text"]:focus,
#dvForm input[type="password"]:focus {
    border-color: #333;
    outline: none;
}

/* Estilos para el botón de envío al pasar el ratón */
#dvForm input[type="submit"]:hover {
    background-color: #555;
}

#dvForm textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 15px;

    border: 1px solid #ccc;
    border-radius: 4px;
}

#dvForm button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#dvForm button:hover {
    background-color: #555;
}

/* Estilos para el botón de envío */
#add button {
    width: 25%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add button:hover {
    background-color: #555;
}

/* Estilos para el encabezado */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

p {
    color: #555;
}

/* Estilos para los comentarios */
.comments {
    margin-top: 20px;
}

.comment {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment h3 {
    color: #333;
}

.comment p {
    color: #555;
}

.no-comments {
    color: #555;
}

.likes-count {
    color: #333;
}

.button-container {
    display: flex;
    justify-content: center;
}

/* Estilos para los botones */
.like-button,
.edit-button,
.delete-btn {
    width: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

.like-button {
    background-color: green;
    color: white;
}

.edit-button {
    background-color: blue;
    color: white;
}

.delete-btn {
    background-color: red;
    color: white;
}

/* Estilos para los iconos dentro de los botones */
.like-button i,
.edit-button i,
.delete-btn i {
    margin-right: 5px;
}

/* Estilos para el texto dentro de los botones */
.like-button span,
.edit-button span,
.delete-btn span {
    margin-left: 5px;
}

/* Estilos para el texto en el botón de Me gusta */
.like-button span {
    color: white;
}

/* Estilos responsivos para los botones */
@media (max-width: 768px) {

    .like-button,
    .edit-button,
    .delete-btn {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}


/* Estilos para el formulario de comentario */
.comment-form {
    margin-top: 20px;
}

.comment-form input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

.comment-form input[type="text"]:focus {
    border-color: #333;
    outline: none;
}


#list {
    counter-reset: li;
    list-style: none;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

#list ol {
    margin: 0 0 0 2em;
}

#list li {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: white;
    text-decoration: none;
    transition: all .3s ease-out;
}

#list li:hover {
    background: #eee;
}

#list li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #333;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

#list li:after {
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

#list li:hover:after {
    left: -.5em;
    border-left-color: #333;
}