{% extends "header.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div>
    {% if sust %}
    <h1>Actividad {{sust.activity._name}}</h1>

    <h2>Descripcion de la actividad:</h2>
    <p>{{sust.activity._description}}</p>

    {% if sust.posts %}
    <div class="comments">
        <h2>Comentarios:</h2>
        {% for coment in sust.posts%}
        <div class="comment">
            <h3>{{coment._user_id}}</h3>
            <p>{{coment._content}}</p>
        </div>

        {% endfor %}
    </div>

    {% else %}
    <p class="no-comments"><b>No hay comentatrios todavia.</b></p>

    {% endif %}
    <h3 class="likes-count">Numero de me gusta: {{sust.activity._kudos}}</h3>
    {% if sust.user_kuded %}
    <p>Ya le has dado me gusta a esta actividad</p>
    {% endif %}

    <div class="button-container">
        {% if not sust.user_kuded %}
        <form method="POST" action="{{ url_for('like_activity', activity_id=sust.activity_id) }}">
            <button class="like-button" type="submit"><i class="fas fa-thumbs-up"></i>Me gusta</button>
        </form>

        {% endif %}

        {% if sust.is_author %}
        <button class="edit-button" onclick="location.href='/edit_activity/{{sust.activity_id}}'"><i
                class="fas fa-pencil-alt"></i>Editar</button>
        <form method="POST" action="{{ url_for('delete_activity', activity_id=sust.activity_id) }}">
            <button type="submit" class="delete-btn"><i class="fas fa-trash-alt"></i>Borrar Actividad</button>
        </form>
        {% endif %}
    </div>
    <div id="dvForm" style="width: 90%;margin-top: 2rem;">
        <form method="POST" action="{{ url_for('add_post', activity_id=sust.activity_id) }}">
            <label for="poContent">Añade un comentario:</label>
            <textarea name="poContent" id="poContent"></textarea>
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
{% else %}
<p><b>No Activities.</b></p>
{% endif %}
</div>
{% endblock %}